.homepage
{
    display:flex;
    flex-direction: column;
    padding: 20px;
}
.portfolio
{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio-item
{
    display: flex;
    width: 27%; 
    height: 300px;
    flex:1 1 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #414040;
    margin:10px
}
